.ql-toolbar.ql-snow {
    
}

.ql-container.ql-snow {
    border: none; /* ลบ border */ 
}
.ql-container .ql-editor {
    border: 1px solid #ccc; /* กำหนด border สำหรับช่องกรอกข้อความ */
    border-radius: 4px; /* กำหนด border-radius ตามต้องการ */
    padding: 10px; /* เพิ่ม padding ให้กับช่องกรอกข้อความ */
}
