.ql-toolbar.ql-snow {
    border: none;
    text-align: center; 
}

.ql-container.ql-snow {
    border: none; 
}
.ql-container .ql-editor {
    border: 1px solid #ccc; 
    border-radius: 4px;
    padding: 10px;  
}
