.ql-toolbar.ql-snow {
    border: none; /* ลบ border */
    text-align: center; 
}

.ql-container.ql-snow {
    border: none; /* ลบ border */ 
}
.ql-container .ql-editor {
    /* กำหนด border-radius ตามต้องการ */
    padding: 10px; /* เพิ่ม padding ให้กับช่องกรอกข้อความ */
}
