.ql-toolbar.ql-snow {
     /* ลบ border */
    text-align: left; 
}

.ql-container.ql-snow {
    /* ลบ border */ 
}
.ql-container .ql-editor {
    border: 1px solid #ccc; /* กำหนด border สำหรับช่องกรอกข้อความ */
     /* กำหนด border-radius ตามต้องการ */
    padding: 10px; /* เพิ่ม padding ให้กับช่องกรอกข้อความ */
}
